@font-face {
    font-family: 'SecularOne';
    src: url('@/assets/fonts/SecularOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter-VariableFont';
    src: url('@/assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SecularOne400';
    src: url('@/assets/fonts/Secular One Regular 400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }